<h2>About the 'Appa Chat' message board</h2>

<p>This message board website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>
