<h2>Questions</h2>
<ul>
  {{#each model.questions as |question|}}
    <li>
      {{#link-to 'question' question.id}}
        {{question.subject}} - {{time-stamp question}} {{answered question}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
