<h1>Appa Chat</h1>
<h3>Chat yourself in the face!</h3>

<h2>Questions</h2>
<ul>
  {{#each model.questions as |question|}}
    <li>
      {{#link-to 'question' question.id}}
        {{question.subject}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}


{{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'about'}}About{{/link-to}} | {{#link-to 'contact'}}Contact{{/link-to}}
