<ul class="collection with-header">
   <li class="collection-header"><h4>Questions</h4></li>
   {{#each model.questions as |question|}}
     <li class="collection-item">
       {{#link-to 'question' question.id}}
         {{question.subject}} - {{time-stamp question}}
         <a href="#!" class="secondary-content">{{answered question}}</a>
       {{/link-to}}
     </li>
   {{/each}}
 </ul>

{{new-question saveQuestion="saveQuestion"}}
