<h1>Appa Chat</h1>
<h3>Chat yourself in the face!</h3>

<div class="commentBox">
  {{#each model as |comment|}}
    {{comment-tile comment=comment destroyComment="destroyComment"}}
  {{/each}}
</div>

{{new-comment save2="save3"}}

{{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'about'}}About{{/link-to}} | {{#link-to 'contact'}}Contact{{/link-to}}
